
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Movie Game </title>
  <link rel="stylesheet" href="">
</head>
<body>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
 <center> <fieldset>
  <legend>Search words for the quiz:</legend>
    <form action="/display_movies" method="POST">
      <input type="text" placeholder="text" name="words">
      <button type="submit">Search</button>
    </form>
  </fieldset>
  <img HEIGHT="200" WIDTH="250" src="movies.jpg">
</center>
  
</body>
</html>